<!DOCTYPE html>
<html class="admin-root">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('common') }}
        {{ encore_entry_link_tags('admin') }}
    {% endblock %}
    <link rel="shortcut icon" href="{{ asset('build/images/favicon.svg') }}"/>
</head>
<body>
<header>
    <div class="logo">

    </div>
    <ul class="admin-nav">
        <li><a href="{{ path('app_logout') }}">Log out</a></li>
        <li><a href="{{ path('admin_view_users') }}">Users</a></li>
    </ul>
</header>
<section class="admin">
    {% block admin_body %}{% endblock %}
</section>
{% block javascripts %}
    {{ encore_entry_script_tags('common') }}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}
</body>
</html>