{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/main.css') }}"/>
{% endblock %}

{% block body %}
    <h1>{{ checklist.description }}</h1>
    {% for section in checklist.sections %}
        <div class="section">
            <h2 class="section-header"><span>{{ section.name }}</span><span class="percentage" data-role="percentage-complete">0%</span></h2>
            <ul class="section-items">
                {% for item in section.items %}
                    {% set value = item.getLastEntryValue %}
                    <li class="section-item {{ value }}">
                        <label class="clicker-for-nope" for="nope_{{ item.id }}">
                            X
                        </label>
                        <label class="container-for-nope">
                            <input type="radio" name="{{ item.id }}" id="nope_{{ item.id }}" value="nope"
                                    {% if value == 'nope' %}
                                        checked
                                    {% endif %}
                            />
                            Not done
                        </label>
                        <label>
                            <input type="radio" name="{{ item.id }}" value="na"
                                    {% if value == 'na' %}
                                        checked
                                    {% endif %}
                            />
                            n/a
                        </label>
                        <label>
                            <input type="radio" name="{{ item.id }}" value="done"
                                    {% if value == 'done' %}
                                        checked
                                    {% endif %}
                            />
                            {{ item.name }}
                        </label>
                        <span class="info">ℹ</span>
                        <ul class="notes">
                            <li>Note 1</li>
                            <li>Note 2</li>
                        </ul>
                    </li>
                {% endfor %}

            </ul>
        </div>
    {% endfor %}

{% endblock %}

{% block javascripts %}
    <script src="https://js.pusher.com/6.0/pusher.min.js"></script>
    <script>
        window.VENDI_CHECKLIST_APP_KEY = '{{ pusher_app_key }}';
        window.VENDI_CHECKLIST_AUTH_ENDPOINT = '{{ pusher_auth_endpoint }}';
        window.VENDI_CHECKLIST_UPDATE_URL = '{{ update_url }}';
    </script>
    <script src="{{ asset('/js/ajax.js') }}"></script>
    <script src="{{ asset('/js/checklist.js') }}"></script>
{% endblock %}
